.diagrameditor {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  height: calc(100vh - 132px);
  margin-top: 0.4rem;

  .toolbar-container {
    flex: 0 0 auto;
    order: -1;
    overflow-y: scroll;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: light;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .toolbar {
      display: flex;
      flex-wrap: wrap;
      width: 78px;
      align-content: flex-start;

      .tool {
        input[type="radio"] {
          display: none;
        }

        input[type="radio"]:checked+label {
          background-color: #0062cc;
          border-color: #005cbf;
        }

        label {
          margin: 0px 0px 1px 1px;
        }
      }
    }

    .divider {
      margin-top: 2px;
      margin-bottom: 2px;
      border-top: 5px solid dimgray;
      border-bottom: 5px solid dimgray;
      width: 100%;
    }
  }

  .diagram-container {
    flex: 1 1 auto;
    display: grid;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    border-radius: 2px;
    padding: 5px;
    overflow: hidden;

    .canvas-container {
      margin: auto;
      .canvas {
        background-color: #555;
      }
    }
  }
}

.network-diagrams {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  height: calc(100vh - 132px);
  margin-top: 0.4rem;

  .tree-control {
    flex: 0 0 270px;
    order: -1;
    background-color: white;
    margin-left: 0.3rem;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    border-radius: 2px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    ul,
    .tree-view {
      list-style-type: none;
    }

    .tree-view {
      margin: 0;
      padding: 0;
      width: 300px;
      height: 100%;
      margin-left: 2px;
    }

    .tree-content {
      padding: 15px;
    }

    .tree-item {
      cursor: pointer;
      -webkit-user-select: none;
      /* Safari 3.1+ */
      -moz-user-select: none;
      /* Firefox 2+ */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }

    .diagram-item {
      cursor: pointer;
      -webkit-user-select: none;
      /* Safari 3.1+ */
      -moz-user-select: none;
      /* Firefox 2+ */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }

    .caret {
      cursor: pointer;
      -webkit-user-select: none;
      /* Safari 3.1+ */
      -moz-user-select: none;
      /* Firefox 2+ */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
    }

    .caret::before {
      font-family: "CoreUI-Icons-Free";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      font-size: 1rem;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\ea7c";
      color: black;
      display: inline-block;
      margin-left: 5px;
    }

    .caret-down::before {
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari */
      transform: rotate(90deg);
    }

    *[dir="rtl"] {
      .caret::before {
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Safari */
        transform: rotate(180deg);
      }

      .caret-down::before {
        -ms-transform: rotate(90deg);
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        /* Safari */
        transform: rotate(90deg);
      }
    }

    .nested {
      display: none;
    }

    .active {
      display: block;
    }
  }

  .diagram-control {
    flex: 1 1 auto;
    display: grid;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    border-radius: 2px;
    padding: 5px;
    overflow: hidden;

    .canvas-container {
      margin: auto;

      .canvas {
        background-color: #555;
      }
    }
  }
}