<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="gitlab" value="E:\EnergyDashboard\common\publish" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
      		<package pattern="*" />
    	</packageSource>
		<packageSource key="gitlab">
				<package pattern="Application.Common" />
				<package pattern="Domain.Common" />
				<package pattern="EnergyDashboard.Common" />
				<package pattern="HealthCheck" />
				<package pattern="Infrastructure.Common" />
				<package pattern="JobSchedule" />
				<package pattern="MessageBus.Redis" />
		</packageSource>
	</packageSourceMapping>
</configuration>
